*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* 
    Colors to be used
    dark blue: #000468
    dark blue shade (lighter) : #000475
    light blue: #00acec
    white: #f8f9fb
    light grey: #eaebf0
    black: #1e1f24
*/

#main-container,
nav,
.nav-links,
#container-1-header,
#container-2 a {
    display: flex;

}

nav,
.nav-links {
    justify-content: space-between;
}

#main-container {
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 5%;
    margin-top: 30%;
}

nav {
    align-items: center;
    padding: 5%;
    background-color: #000468;
    width: 100%;
    position: fixed;
    top: 0;
}

#header-photo {
    flex-basis: 20%;
}

.nav-links {
    flex-basis: 80%;
}

.nav-links a {
    color: #f8f9fb;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links a:hover {
    color: #00acec;
}


#container-1-header {
    align-items: center;
}

#logo-photo,
#header-photo {
    margin-right: 1rem;
    max-width: 50px;
}

#container-1-header p {
    margin: 0;
}

#container-1-header .underline-text {
    margin-bottom: -0.2rem;
    font-weight: 700;
}

#container-1 {
    background-color: #f8f9fb;
    padding: 5%;
}

#container-1 h2,
#container-1 h1 {
    color: #000468;
}

#container-1 p {
    color: #1e1f24;
}

#container-1-body p {
    font-style: italic;
}

#container-1 h1 {
    margin-bottom: 0.5rem;
}

#container-1 h2 {
    margin-top: 0.5rem;
}

#container-2 {
    background-color: #000468;
    color: #f8f9fb;
    padding: 5%;
}

#container-2 a {
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

#container-2 button {
    margin-top: 0.5rem;
    width: 100%;
    border: none;
    padding: 3% 5%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #f8f9fb;
    color: #1e1f24;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 5%;
}

#container-2 button:hover {
    cursor: pointer;
    background-color: #00acec;
    transform: scale(1.02);
}

#semester-text {
    font-size: 2rem;
}

#year-text {
    margin-top: -2rem;
}

#container-3 {
    background-color: #000475;
    color: #f8f9fb;
    padding: 5%;
}

#container-3 h2 {
    margin-bottom: 0.5rem;
}

#testominal-footer {
    font-style: bold;
}

#testimonial-footer a {
    color: #f8f9fb;
    font-weight: 700;
    font-style: italic;
}

#testimonial-footer a:hover {
    color: #00acec;
}

#container-2 button:hover,
#testimonial-footer a:hover {
    transition: all 0.3s ease 0s;
}

.underline-text {
    text-decoration: underline;
}

@media (min-width: 576px) {

    #main-container {
        margin: 0% 30%;
        margin-top: 7.5%;
    }

    nav {
        padding: 1%;
    }

    #header-photo {
        margin-left: 5%;
        flex-basis: 80%;
    }

    .nav-links {
        margin-right: 5%;
        flex-basis: 20%;
    }

    #bottom-container {
        display: flex;
    }

    #bottom-container>* {
        flex-basis: 50%;
    }

    #container-2 button {
        margin-bottom: 0;
        padding: 5%;
    }

    #logo-photo,
    #header-photo {
        max-width: 75px;
    }

}